<div class="parameter-section">

  <div class="parameter-block">
    <label class="parameter-name">Parameter 1</label>
    <div class="parameter-value">
      <input type="text" />
    </div>
  </div>

  <div class="parameter-block">
    <label class="parameter-name">Parameter 2</label>
    <div class="parameter-value">
      <input type="text" />
    </div>
  </div>

  <div class="parameter-block">
    <label class="parameter-name">Parameter 3</label>
    <div class="parameter-value">
      <input type="text" />
    </div>
  </div>

  <div class="parameter-block">
    <label class="parameter-name">Parameter 11</label>
    <div class="parameter-value">
      <input type="text" />
    </div>
  </div>

</div>
