<div class="section">
  <div class="title">
    <span>Flex 1</span>
  </div>

  <div class="example">

    <div class="parameter-section">

      <div class="parameter-block">
        <label class="parameter-name">Parameter 1</label>
        <div class="parameter-value">
          <input type="text" />
        </div>
      </div>
  
      <div class="parameter-block">
        <label class="parameter-name">Parameter 2</label>
        <div class="parameter-value">
          <input type="text" />
        </div>
      </div>
  
      <div class="parameter-block">
        <label class="parameter-name">Parameter 3</label>
        <div class="parameter-value">
          <input type="text" />
        </div>
      </div>
  
      <div class="parameter-block">
        <label class="parameter-name">Parameter 11</label>
        <div class="parameter-value">
          <input type="text" />
        </div>
      </div>
  
    </div>

  </div>

</div>

<div class="section example-2">
  <div class="title">
    <span>Flex 2</span>
  </div>
  <div class="example">
    
    <div class="parent-container">
      <div class="child-container"></div>
    </div>

  </div>

</div>

<div class="section example-flex-1">
  <div class="title">
    <span>Flex Example 1</span>
  </div>
  <div class="example">
    
    <div class="flex-container">
      <div class="child">1</div>
      <div class="child">2</div>
      <div class="child">3</div>
      <div class="child">4</div>
      <div class="child">5</div>
      <div class="child">6</div>
      <div class="child">7</div>
      <div class="child">8</div>
    </div>

  </div>
</div>

<div class="section example-flex-2">
  <div class="title">
    <span>Flex Example 2</span>
  </div>
  <div class="example">
    
    <div class="flex-container">
      <div class="child">1</div>
      <div class="child">2</div>
      <div class="child">3</div>
      <div class="child">4</div>
      <div class="child">5</div>
      <div class="child">6</div>
      <div class="child">7</div>
      <div class="child">8</div>
    </div>

  </div>
</div>

<div class="section example-flex-3">
  <div class="title">
    <span>Flex Example 3</span>
  </div>
  <div class="example">
    
    <div class="flex-container">
      <div class="child">1</div>
      <div class="child">2</div>
      <div class="child">3</div>
      <div class="child">4</div>
      <div class="child">5</div>
      <div class="child">6</div>
      <div class="child">7</div>
      <div class="child">8</div>
    </div>

  </div>
</div>